body {
  display: flex;
  overflow: hidden;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0/0.9);
  color: white
}



.slider-container {
  height: 80%;
  width: 100%;
  margin: 2rem;
  display: flex;
  overflow: hidden;
}

.slider {

  flex: auto;
  height: 600px;
  width: 30rem;
  transform: skew(-30deg);
  overflow: hidden;
  display: flex;
  flex-flow: row-reverse;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}
.img-container {
 
  min-width: 10rem;
  height: 100%;
  background-image: url('https://m.media-amazon.com/images/I/51YBVXb-iDL._SX300_SY300_QL70_FMwebp_.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  overflow: hidden;

}

.main-img {
  min-width: 50rem;
}



.details-container{
    
    overflow: hidden;
    transform: skew(-30deg);
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transform-style: preserve-3d;
}

.title{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.details{
    color: rgb(255 255 255/ 0.5);
    font-size: 1.5rem;
    display: flex;
    width: 60%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.vessel{
    display: flex;
    gap: 1rem;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.next, .prev{
  color: rgb(255 255 255);
    font-size: 3rem;
}
.btn:hover{
    cursor: pointer;
}
.fa-certificate{
    color: var(--bs-blue);
}

.details-container > * {
   
    transform: skew(30deg);
}


.img-dots{
  width: 50%;
  align-self: flex-start;
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;

 
}

.dot{
  background-color: transparent;
  width: 0.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid white;
 
}

.select{
  background-color: var(--bs-blue);
  border: 1px solid var(--bs-blue);
  box-shadow: 0 0 1rem var(--bs-blue);
}
